*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 120px;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.rec-1,.rec-2,.rec-3{
    width: 150px;
    height: 150px;
    
    background-color: blue;
}
.box-1,.box-2,.box-3{
    text-align: center;
    
}
.rec-1{
    background-image: linear-gradient(#ae3621,#5b9061);
}
.rec-2{
    background-image: linear-gradient(#44a87b,#45479e);
}
.rec-3{
    background-image: linear-gradient(to bottom, #3b5ecf , #a2703e);
}
.box-1{
    
    z-index: 3;
}

.box-2{
    z-index: 2;
    animation-name: move;
    animation-duration: 5s;
    
}
.box-3{
    z-index: 1;

}
@keyframes move {
    0%{
        transform: translateX(0);
    }
    40%{
        transform: translateX(540px);
    }
    75%{
       transform: translateX(-540px); 
    }
    100%{
        transform: translateX(0); 
     }
}
p{
    background-color: #fff;
    margin-top: 10px;
}
